# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
pip-selfcheck.json

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
